[run]
# uncomment the following to omit files during running
source = fast_dash
omit = *tests*
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise ValueError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main
